Flask==3.0.3
gunicorn==23.0.0
requests==2.32.3

# Google packages - pin phiên bản để tránh conflict
firebase-admin==6.6.0
google-generativeai==0.8.4

# Tùy chọn (nếu bạn muốn test local)
python-dotenv==1.0.1
